

.header {
    background-color: #111111;
    height: 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: lightgray;
}
a:hover {
    color: white;
}